extends layout

block breadcrump
  span #{topic.title}

block content

  include topicDiv

  div.baseDiv
    b Users
    ul#users

  div#conversation
    each msg, i in comments
      div.msg.baseDiv
        div.profile [#{asTime(msg.date)}] #{msg.author} 
        | #{msg.comment}

  div.highlightRow
    div.profile
      | [
      span#clock 00:00
      | ] 
      span#username anynomous
    input#msg(type='text', placeholder="New message")
    input#msgsend(type='button', value='Send')