extends layout

block scripts
  script(src='/javascripts/socket.io.min.js')
  script(src='/javascripts/chat.js')

block content
  h1= title
  p Welcome to #{title}

  div
    input#name
    input#saveName(type='button', value='SetName') 

  br

  div
    b Users
    #users

    each msg, i in messages
      div.msg
        div.profile #{msg.username}: 
        | #{msg.msg}

  div
    #conversation
    
    div
      span#username anynomous
      input#msg
      input#msgsend(type='button', value='Send')
    br
    input#notification(type='button', value='Enable notifications')
