extends layout

block content

  div.baseDiv
    b Users
    #users

  div#conversation
    each msg, i in messages
      div.msg.baseDiv
        div.profile [#{asDate(msg.date)}] #{msg.username} 
        | #{msg.msg}

  div
    span#username anynomous
    input#msg
    input#msgsend(type='button', value='Send')