extends layout

block content

  div
    b Users
    #users

  div
    #conversation
      each msg, i in messages
        div.msg
          div.profile [#{asDate(msg.date)}] #{msg.username} 
          | #{msg.msg}

    
    div
      span#username anynomous
      input#msg
      input#msgsend(type='button', value='Send')
    br
    input#notification(type='button', value='Enable notifications')
