extends layout

block scripts
  script(src='/javascripts/socket.io.min.js')
  script(src='/javascripts/chat.js')

block content
  h1= title
  p Welcome to #{title}

  div
    b Users
    #users

  div
    #conversation
    input#data
    input#datasend(type='button', value='Send')
    br
    input#show_button(type='button', value='Notification')



