extends onepagelayout

block template
  include topicTemplate

block breadcrump
  span Topics (v2)

block content

  div#topics
    each topic, i in topics
      include topicDiv

  br
  div#createNewTopic.baseDiv
    div.form(name='addnewtopic')
      | New topic:
      br
      input#topic(name='title', type='text', placeholder='New topic title')
      br
      | Description:
      br
      textarea#description(name='description', placeholder='Description what this topic is about')
      br
      | Author:
      br
      input#name(name='author', type='text', placeholder="Author")
      br
      input#submitNewTopic(type='button', value='Save')