div#topicTemplate.topicWrapper.hidden
  div.topicHeader.topic.baseDiv
    div.topicAuthor 
      | Created 
      span(name='asDate') 
      | at 
      span(name='asTime')
      br
      | by  
      span(name='author')
    b
      span(name='title')
    br 
    | 
    span(name='description')
  div.topicComments
  div.highlightRow(name='newMsgRow')
    div.form(name='addnewmsg')
      div.profile
        | [
        span(name='clock') 00:00
        | ] 
        span#username anynomous
      input(name='topicId', type='hidden', value='jokutopicid')
      input(name='author', type='hidden', value='Anonymous')
      input(name='comment', type='text', placeholder="New message")
      input(type='button', value='Send')