extends layout

block breadcrump
  span Topics

block content

  div#topics
    each topic, i in topics
      include topicDetails
      
  br
  div#createNewTopic.baseDiv
    | New topic:
    br
    input#topic(placeholder="New topic title")
    br
    | Description:
    br
    textarea#description(placeholder="Description what this topic is about")
    br
    | Author:
    br
    input#name(placeholder="Author")
    br
    input#submitNewTopic(type='button', value='Save')