body {
  padding: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #333355;
}

.headerSubDiv {
  display: inline-block;
  padding: 5px 10px;
}

div#logo {
  font-size: 20px;
}

div#nameForm {
  display: inline-block; 
  position: absolute;
  right: 0px;
}

.baseDiv {
  background-color: #BBBBCC;
  padding: 5px 10px;
  margin: 2px;
  border-radius: 5px;
}

div.msg, #users {
}

div.msg:nth-child(even) {
  background-color: #DDDDEE;
}

div#header {
  background-color: #BBBBCC;
  position: absolute;
  margin: 0px;
  width: 100%;
  top:0px;
  left: 0px;
  border-radius: 0px 0px 5px 5px;
}

a {
  text-decoration: none;
}

div.profile {
  font-weight: bold;
  width: 120px;
  display: inline-block;
  border-right: 1px dotted;
  margin-right: 5px;
}

#createNewTopic input, textarea {
  width: 350px;
  resize: none; 
}

#createNewTopic textarea {
  height: 60px;
}

.topicAuthor {
  float: right;
}
